/*RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*CSS*/
.container {
	max-width: 800px;
	padding: 50px;
}

button {
    margin-bottom: 20px;
}

.griglia {
	display: flex;
	flex-wrap: wrap;
}

.griglia > * {
	aspect-ratio: 1;
	border: 1px solid black;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
